#mainBanner
{
margin: 30px 0 20px 0;
}

/* Order Page */
#orderDescription
{
width: 320px;
float: left;
padding: 0px 20px 20px 80px; 
}
#step1, #step2, #step3
{

}

.orderStepContainer input[type=text], textarea
{
width:98%;
}

.nextButton, .backButton
{
cursor: pointer;
font-size: 16px;
font-weight: bold;
padding: 6px 15px;
}

.backButton
{
color:#949494;
background:#f1f1f1;
border:solid 1px #e7e7e7;
}

.nextButton
{
color:#FFFFFF !important;
background:#cc0000;
border:solid 1px #e7e7e7;
}

#orderDescTable td
{
padding-bottom:10px;
}

.spaceX
{
height:16px;
}

.orderStep
{
float: left;
width: 245px;
background: #f8f8f8;
padding: 8px 0;
text-align: center;
}
#orderFooter
{
background: #f8f8f8;
padding: 20px 40px;
border-style:solid;
border-bottom-width:1px;
border-top-width:0px;
border-left-width:1px;
border-right-width:1px;
border-color: #EEE;
}

.selectedOrderStep
{
background: #EEEEEE;
}

.orderStepContainer
{

}

.orderStepContainer input[type=checkbox]
{
margin-left:0px;
padding-left:0;
}


.hide
{
display:none;
}

#orderContainer
{
height: 470px;
border: solid 1px #EEEEEE;
border-bottom-width:0px;
}


.flowerTitle
{
font-size: 22px;
text-transform: uppercase;
}

.flowerPrice
{
font-size: 18px;
color: #333333;
}


#breadCrumbs
{
padding: 10px 0;
font-size:11px;
}

#buyButton
{
cursor: pointer;
font-size: 22px;
padding: 8px 22px;
color:#FFFFFF;
background:#cc0000;
border:solid 1px #e7e7e7;
text-decoration:none;
margin-right:10px;
font-weight: bold;
}
#buyButton:hover
{

}


#flowerDescription
{
width:400px;
}

.textLineHeight
{
line-height:1.7em;
}

#similarFlowers
{
text-align:center;
width:160px;
border:solid 1px #e7e7e7;
border-bottom-width:0;
}

.orderContainer
{
float: left; padding: 0 45px 20px; width: 400px;
}

.validationLabel
{
color:Red;
display:none;
}

.noFlowers
{
padding: 20px;
font-size:16px;
text-align:center;
}

.breadcrumb
{
     float:left;
     margin-top:10px;
     font-size:11px;
     width:280px;
}